* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: hsl(0, 0%, 100%);
  font-family: Hanken Grotesk;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_container {
  height: 400px;
  width: 280px;
  background-image: linear-gradient(to bottom,
      hsl(252, 100%, 67%),
      hsl(241, 81%, 54%));
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left_container p:first-child {
  color: hsla(0, 0%, 100%, 0.664);
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
}

.result {
  display: flex;
  align-content: center;
  background-image: linear-gradient(to bottom,
      hsla(256, 72%, 46%, 1),
      hsla(241, 72%, 46%, 0));
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: hsl(0, 0%, 100%);
}

.result p:first-of-type {
  color: white;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 60px;
}

.result p:last-of-type {
  color: hsl(0, 4%, 52%);
  font-weight: 400;
}

p {
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  margin: 21px;
  flex-direction: column;
  font-weight: 900;
}

p:last-child {
  color: hsl(0, 4%, 62%);
}

.right_container {
  width: 320px;
  height: 400px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 10px 10px 20px 4px hsl(221, 100%, 96%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  padding-right: 30px;
  gap: 15px;
  padding-top: 18px;
}

.right_container button {
  /* padding-top: 20px; */
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right_container p {
  color: black;
  padding-right: 158px;
}

#reaction {
  background-color: hsla(0, 82%, 87%, 0.132);
  font-weight: 600;
}

#reaction .tag {
  color: hsl(0, 100%, 67%);
}

.tag {
  padding-left: 10px;
}

#continue {
  background-color: hsl(234, 85%, 45%);
  color: azure;
  font-weight: 700;
  display: block;
  text-align: center;
  border-radius: 20px;
  padding: 12px 0px;
  margin-top: 20px;
}

#memory {
  background-color: hsl(38, 90%, 88%)
}

#memory .tag {
  color: hsl(39, 100%, 56%);
}

#verbal {
  background-color: rgb(216, 238, 183);
}

#verbal .tag {
  color: hsl(166, 100%, 37%);
}

#visual {
  background-color: lightblue;
}

#visual .tag {
  color: hsl(234, 85%, 45%);
}